# Servidor
PORT=4000
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=agrosmart

# Seguridad
JWT_SECRET=Joelelingenieromasinsanodelmundo
JWT_EXPIRES_IN=8h
BCRYPT_ROUNDS=10

# Frontend permitido (CORS)
CORS_ORIGIN=http://localhost:5173

# MQTT
MQTT_URL=mqtts://localhost:8883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CA_PATH=../mqtt/certs/ca.crt
MQTT_ENABLED=false

# Gestion automatica de credenciales del broker
MQTT_PASSWD_FILE=//
MQTT_AUTO_REGISTER=//

# Email (Gmail SMTP)
EMAIL_ENABLED=true
EMAIL_USER=agrosmart.ecu@gmail.com
EMAIL_APP_PASSWORD=noseloqueseponeaquiiiii
EMAIL_FROM_NAME=aaaa
APP_URL_FRONTEND=hksajhdhjgdaakj

# reCAPTCHA
RECAPTCHA_SECRET=
RECAPTCHA_ENABLED=false