# Servidor
PORT=4000
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=#TUCONTRASEÑA DE TU BD
DB_NAME=agrosmart

# Seguridad
JWT_SECRET=Joelelingenieromasinsanodelmundo
JWT_EXPIRES_IN=8h
BCRYPT_ROUNDS=10

# Frontend permitido (CORS)
CORS_ORIGIN=http://localhost:5173

# MQTT
MQTT_URL=mqtts://localhost:8883
MQTT_USERNAME=backend_agrosmart
MQTT_PASSWORD=#TUCONTRASEÑA DE TU MQTT
MQTT_CA_PATH=../mqtt/certs/ca.crt
MQTT_ENABLED=true

# Gestion automatica de credenciales del broker
MQTT_PASSWD_FILE=../mqtt/config/passwd
MQTT_AUTO_REGISTER=true

# Email (Gmail SMTP)
EMAIL_ENABLED=true
EMAIL_USER=agrosmart.ecu@gmail.com
EMAIL_APP_PASSWORD=cdyrpyhrtsujikwf
EMAIL_FROM_NAME=AgroSmart

# URL del frontend para enlaces en emails
APP_URL_FRONTEND=http://localhost:5173

# reCAPTCHA - Para producción, usa tu clave secreta real de reCAPTCHA
RECAPTCHA_SECRET=6Lf3sBUtAAAAAJOymuOr41lO8nmWQHhMKVti5ich
RECAPTCHA_ENABLED=true

# # Trabajar localmente con reCAPTCHA de prueba
# RECAPTCHA_ENABLED=true
# RECAPTCHA_SECRET=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

# Auditoría (RabbitMQ)
AUDIT_ENABLED=true
AUDIT_RABBITMQ_URL=amqp://usuario:password@host:5672

#LEER TODO ANTES DE EMPEZAR A TRABAJAR